<form #userForm="ngForm" (ngSubmit)="formSubmit(userForm)">
  <div>
    <input type="text" class="input-field" name="email" ngModel email/>
  </div>
  <select name="subscription-dropdown" [ngModel]="subscription" style="display: block">
    <option value="basic">basic</option>
    <option value="advanced">advanced</option>
    <option value="pro">pro</option>
  </select>
  <input type="password" class="input-field" name="password"  >
  <button type="submit" class="btn" [disabled]="!userForm.valid">submit</button>
</form>

