<form #userForm="ngForm" (ngSubmit)="formSubmit(userForm)">
  <div>
    <input type="text" class="input-field" name="email" ngModel email required #email="ngModel"/>
    <span style="color: red" *ngIf="!email.valid && email.touched">Please enter correct email</span>
  </div>
  <select name="subscription-dropdown" [ngModel]="subscription" style="display: block">
    <option value="basic">basic</option>
    <option value="advanced">advanced</option>
    <option value="pro">pro</option>
  </select>
  <input type="password" class="input-field" name="password" ngModel #password="ngModel" required>
  <span style="color: red" *ngIf="!password.valid && password.touched">Please enter correct password.</span>
  <br/>
  <button class="btn" [disabled]="!userForm.valid">submit</button>
</form>

<h3>
  user form data
</h3>
<div>
  email address : {{ emailAddress}}
</div>
<div>
  Password : {{ passwordValue }}
</div>
<div>
  subscription : {{ subscriptionValue }}
</div>

<h3> Reactive forms example</h3>
<div class="s12 m12 col">
  <form [formGroup]="projectStatusForm" (ngSubmit)="onFormSubmit()">
    <div class="col m12">
      <label for="projectName">Project Name</label>
      <input formControlName="projectname" type="text" id="projectName">
    </div>
    <span *ngIf="!projectStatusForm.get('projectname').valid && projectStatusForm.get('projectname').touched">Please Enter Project Name.</span>
    <div class="col m12">
      <label for="email">Email</label>
      <input formControlName="email" type="text" id="email">
    </div>
    <span *ngIf="!projectStatusForm.get('email').valid && projectStatusForm.get('email').touched">Please Enter Valid Email.</span>
    <div class="col m6">
      <select formControlName="status" style="display: block">
        <option value="stable">Stable</option>
        <option value="critical">Critical</option>
        <option value="finished">finished</option>
      </select>
    </div>
    <div class="row">
      <button class="btn">Submit</button>
    </div>


  </form>
</div>
