<h3 [ngStyle]="{textAlign: 'center'}">databinding example</h3>
<input type="text" [(ngModel)]="username" (input)="onChangeText()" />
<p>{{username}}</p>
<button (click)="addUsername()" class="waves-effect waves-light btn" [disabled]="usernameDisabled">ADD USER NAME</button>
<div>
  <ul>
    <li *ngFor="let name of usernamesCollection">
      {{name}}
    </li>
  </ul>
</div>
<hr/>
<h3 [ngStyle]="{textAlign: 'center'}">common directives example</h3>
<button (click)="toggleParagraph()" class="waves-effect waves-light btn">DISPLAY DETAILS</button>
<p *ngIf="displayParagraph">toggle example</p>
<div *ngFor="let addDate of addDateOnClick; let i = index" [ngStyle]="{backgroundColor: i > 3 ? 'blue':''}" [ngClass]="{'white-background': i > 3 ? whiteColorText: false}">{{addDate}}</div>
